extends ../partials/navbar
block main
  input.display-none#project-json(type='text' value=JSON.stringify(project))
  .general-header-wrapper
    .general-header-text-wrapper
      .general-header-title #{__('Edit Project')} - #{project.name}
      .general-header-subtitle= __('Edit the project information and translate the project.')
    input.general-header-search-input#project-search-input(autocomplete='search' name='new-password' placeholder='Search by name or description' value='')
  .all-content-inner-wrapper
    .general-create-wrapper
      if !project.is_completed
        .general-create-info= __('IMPORTANT! This project is not yet complete. Please complete all the required fields to start using this project in the website.')
      span.general-create-title= __('General Information')
      .general-create-seperator
      .general-create-input-grid-wrapper
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Project Name')
          input.general-input#name(type='text' placeholder=__('Enter the project name.') value=project.name)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Chain Registry Identifier')
          input.general-input#chain-registry-identifier(type='text' placeholder=__('Enter the chain registry identifier.') value=project.chain_registry_identifier)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Project Description')
          input.general-input#description(type='text' placeholder=__('Describe the project with a few simple sentences.') value=project.description)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Project Image')
          if project.image
            label.general-image-input-wrapper(style='cursor: default')
              .general-image-input-image(style=`background-image: url(${project.image}?${new Date().getTime()})`)
              svg.general-image-input-delete-button(fill='var(--warning-color)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512')
                path(d='M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z')
          else
            label.general-image-input-wrapper(style='cursor: pointer')
              input.display-none#image(type='file')
              span.general-image-input-placeholder= __('Upload from your device.')
      span.general-create-title= __('Non Generic Command Information')
      .general-create-seperator
      .general-create-input-grid-wrapper
        .general-create-input-grid-each-item-wrapper
          .general-select-input-wrapper
            input.general-select-input-real-value#non-generic-command-input(value=project.non_generic_tx_commands)
            input.general-select-input-selected-value(type='text' autocomplete='off' name='new-password' placeholder=__('Scroll to add a non generic command'), value=nonGenericTxCommands[project.non_generic_tx_commands])
            .general-select-input-choices-wrapper
              each command in Object.keys(nonGenericTxCommands)
                .general-select-each-input-choice(id=command)= nonGenericTxCommands[command]
      span.general-create-title= __('Status Information')
      .general-create-seperator
      .general-create-input-grid-wrapper
        each property in Object.keys(properties)
          .general-create-input-grid-each-item-wrapper
            span.general-create-subtitle #{properties[property].name} #{__('Status')}
            .general-select-input-wrapper
              input.general-select-input-real-value.property-input(type='checkbox' id=property checked=project.properties[property])
              input.general-select-input-selected-value(type='text' autocomplete='off' name='new-password' placeholder=__('Type to search.'), value=project.properties[property] ? properties[property].true : properties[property].false)
              .general-select-input-choices-wrapper
                .general-select-each-input-choice(id='select-input-1')= properties[property].true
                .general-select-each-input-choice(id='select-input-0')= properties[property].false
      span.general-create-title= __('System Requirements')
      .general-create-seperator
      .general-create-input-grid-wrapper
        each requirement in Object.keys(systemRequirements)
          .general-create-input-grid-each-item-wrapper
            span.general-create-subtitle #{systemRequirements[requirement]} #{__('Requirement')}
            input.general-input.system-requirement-input(type='text' id=requirement placeholder=__('Requirement') value=project.system_requirements[requirement])
      span.general-create-title= __('URLs')
      .general-create-seperator
      .general-create-input-grid-wrapper
        each url in Object.keys(URLs)
          .general-create-input-grid-each-item-wrapper
            span.general-create-subtitle #{__('Project')} #{URLs[url]}
            input.general-input.social-account-input(type='text' id=url placeholder=__('URL address') value=project.urls[url])
      .general-create-button-wrapper
        span.general-create-error#update-error
        .general-create-button#update-button= __('Update')
      span.general-create-title= __('Translations')
      .general-create-seperator
      span.general-create-text= __('If you do not add a translation for a language users will see english as the default option. You do not have to change all the given fields for any translation, just leave them as they are.')
      .general-create-button-wrapper
      span.general-create-title= __('Turkish Translation')
      .general-create-seperator
      .general-create-input-grid-wrapper
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Project Turkish Name')
          input.general-input#turkish-name(type='text' placeholder=__('Enter the project name.') value=project.translations.tr.name)
        .general-create-input-grid-each-item-wrapper
          span.general-create-subtitle.general-create-required= __('Project Turkish Description')
          input.general-input#turkish-description(type='text' placeholder=__('Describe the project with a few simple sentences.') value=project.translations.tr.description)
        .general-create-input-grid-each-item-wrapper
      .general-create-button-wrapper
        span.general-create-error#update-turkish-error
        .general-create-button#update-turkish-button= __('Update Turkish')