extends ../partials/navbar
block main
  .general-header-wrapper
    .general-header-text-wrapper
      .general-header-title= __('Projects')
      .general-header-subtitle= __('Create notifications to be sent to users on Klein.')
    input.general-header-search-input#notification-search-input(type='text' placeholder='Search by name or description' value=notifications_search)
  .all-content-inner-wrapper
    .general-page-wrapper
      if notifications_search
        span.general-page-search-text #{__('Showing results of the search:')} "#{notifications_search}"
      .general-page-inner-wrapper
        .general-page-buttons-wrapper
          if notifications_page > 0
            a.general-page-prev-button(href=`/notification?page=${notifications_page-1}${notifications_search ? '&search=' + notifications_search : ''}`) < #{__('Previous')}
          else
            span.general-page-prev-button.general-page-prev-button-not-allowed < #{__('Previous')}
          - for (let i = 0; i < parseInt(notifications_count / notifications_limit) + (notifications_count % notifications_limit ? 1 : 0); i += 1)
            if i != notifications_page
              a.general-each-page-button(href=`/notification?page=${i}${notifications_search ? '&search=' + notifications_search : ''}`)= i+1
            else
              span.general-each-page-button.general-each-page-button-selected= i+1
          if (notifications_page + 1) * notifications_limit < notifications_count
            a.general-page-next-button(href=`/notification?page=${notifications_page+1}${notifications_search ? '&search=' + notifications_search : ''}`) #{__('Next')} >
          else
            span.general-page-next-button.general-page-next-button-not-allowed #{__('Next')} >
        span.general-page-info #{__('Showing')} #{notifications_limit} #{__('results per page.')}
    .general-items-wrapper
      each notification in notifications
        .general-each-item-wrapper(id=notification._id)
          .general-each-item-title-wrapper
            span.general-each-item-title= notification.title
            span.general-each-item-subtitle(style=(notification.is_completed ? '' : 'color: var(--warning-color)')) #{notification.is_completed ? '' : `(${__('not completed')})`}
          .general-each-item-buttons-wrapper
            if notification.is_completed
              if notification.will_be_published
                if new Date(notification.publish_date) > new Date()
                  a.general-each-item-fourth-button.publish-each-notification-button=__('Publish Now!')
                  span.general-each-item-fourth-button-not-allowed=__('Will be published at: ') + fromDateToHTMLDateInputString(notification.publish_date) + ' ' + fromDateToHTMLTimeInputString(notification.publish_date)
                //- not expected to happen but just in case
                else
                  a.general-each-item-fourth-button-not-allowed=__('Publish Now!')
                  span.general-each-item-fourth-button-not-allowed=__('Will be published at: ') + fromDateToHTMLDateInputString(notification.publish_date) + ' ' + fromDateToHTMLTimeInputString(notification.publish_date)
              else
                a.general-each-item-fourth-button.publish-each-notification-button=__('Publish Now!')
                span.general-each-item-fourth-button.publish-each-notification-button=__('Publish at: ') + fromDateToHTMLDateInputString(notification.publish_date) + ' ' + fromDateToHTMLTimeInputString(notification.publish_date)
            .general-each-item-second-button.delete-each-notification-button(style='margin-left: auto')= __('Delete')
            a.general-each-item-first-button(href='/notification/edit?id=' + notification._id)= __('Edit & Translate')